#clock-container{
    display: flex;
    justify-content: center;
}

.clock{
    width: 350px;
    height:350px;
    background-color: rgb(207, 224, 209);
    background: url(../img/clock.png);
    background-size:cover;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    z-index: -1;
    border: 2px dashed rgb(65, 61, 61);
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px rgb(150, 150, 150);
}
/* 
.pin {
    display: flex;
    position: absolute;
    justify-content: center;
} */
.hour, .min, .sec {
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%);
    transform-origin: bottom ;
    z-index: 10;
}

.sec {
    width: 2px;
    height: 120px;
    background-color: red;
}

.hour {
    width: 5px;
    height: 80px;
    background-color: green;
}

.min {
    width: 5px;
    height: 100px;
    background-color: blue;
}









