#clock-container{
    display: flex;
    justify-content: center;
}
*::after, *::before{
    box-sizing: border-box;
}
.clock{
    width: 400px;
    height:400px;
    background-color: rgb(207, 224, 209);
    background: url(../img/clock.png);
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    z-index: -1;
    border: 0.1px solid black;
    border-radius: 50%;
    box-shadow: inset 0px 0px 20px rgb(150, 150, 150);
}
/* 
.pin {
    display: flex;
    position: absolute;
    justify-content: center;
} */
.hour, .min, .sec {
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 10px 10px 10px 10px;
    transform: translateX(-50%);
    transform-origin: bottom ;
    z-index: 10;
}

.sec {
    width: 3px;
    height: 130px;
    background-color: red;
}

.hour {
    width: 5px;
    height: 80px;
    background-color: green;
}

.min {
    width: 5px;
    height: 100px;
    background-color: blue;
}









